.banner{
    display: flex;
    /* background-color: rgb(70, 116, 167); */
    background-image: url("Images/BG\ sky.jpg");
    padding: 20px;
}

.banner-content{
flex: 2;
text-align: center;
align-items: center;
}

.banner-pic{
flex: 1;
}

.banner-pic{
    width: 100%;
    border-radius: 20px;   /* Corner round */
    display: block;
    box-shadow: 0 15px 40px rgba(0,0,0,.3); 
}

.banner-content button{
    background-color: rgb(238, 157, 157);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.banner-content button:hover{background-color: cadetblue;}